:root {
  --color-1: #FDFBF7;
  --color-2: #552424;
  --color-3: #856467;
  --color-4: #E9CEA9;
  --color-5: #BEBCC7;
  --color-6: #D8A25B;
  --color-7: #BF9378;
  --color-8: #7F7E9F;
  --color-9: #955543;
  --color-10: #391C15;
  --color-11: #665452;
  --color-12: #B7AAA3;
  --color-13: #F8F7F3;
  --color-14: #D1A055;
}
